<!-- <p>navbar works!</p> -->
<header>
    <div class="logo-name logo">
        <!-- <h2 style="font-weight: bold;">DermCare.AI</h2> -->
        <img style="height: 12vh;" src="../../assets/images/logo-no-bg.svg">
    </div>
    <ul class="navbar">
        <li (click)="tohome()" [routerLinkActive]="'active'" ><a [routerLink]="" class="nav-items">Home</a></li>
        <li (click)="toWhy()" [routerLinkActive]="'active'" ><a  class="nav-items">Why us?</a></li>
        <li (click)="toBenefits()" [routerLinkActive]="'active'" ><a class="nav-items">Services</a></li> 
        <li (click)="toabout()" [routerLinkActive]="'active'" ><a class="nav-items">About</a></li> 
        <li (click)="meetDoctor()" [routerLinkActive]="'active'" ><a  class="nav-items">Consult a Doctor</a></li>
        <!-- <li (click)="toreview()" [routerLinkActive]="'active'" ><a class="nav-items">Reviews</a></li>  -->

    </ul>
    <div class="main">
        <!-- <a class="nav-link" [routerLink]="['/doctor-profile']" *ngIf="authService.isLoggedIn() && authService.isDoctor()">Doctor Profile</a>
        <a class="nav-link" [routerLink]="['/patient-profile']" *ngIf="authService.isLoggedIn() && authService.isPatient()">Patient Profile</a> -->
        <button class="btn" (click)="newCrousel()">Try Now &#8594; </button>
        <i class="fa fa-user fa-2x" *ngIf="showProfile()" (click)="Profile()" aria-hidden="true"></i>
        
    </div>
    <div class="components">
        <router-outlet></router-outlet>
    </div>
</header>