
header{
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: transparent; */
    background-color: white;
    padding: 10px 3%;
    transition: all .50s ease;
    height: 17vh;

}

.fa-2x{
    color: rgb(95 93 159);
}

button{
    border-radius: 30px;
    background-color: rgb(13, 13, 59);
    color: white;
    padding: 0px 30px;
    margin-right: 10px;
    /* margin-right: 30px; */
    width: 150px;
    height: 50px;
    font-size: 18px;
    align-self: flex-end;
}
button:hover{
    width: 190px;
    color: white;
    background-color: rgba(22, 22, 92);
    transition: width 0.6s ease-in-out; ;
    cursor: pointer;
    /* box-shadow: 0px 0px 4px gray; */
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.logo span{
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
}
li{
    list-style-type: none;
}

.navbar{
    display: flex;
    margin: auto;
    justify-content: center;
}
.navbar a{
    color: var(--dark-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0px 2.5vw;
    width: max-content;
    transition: all 1s ease;
    text-decoration:none
}
.navbar a:hover{
    cursor: pointer;
    color: var(--main-color);
    font-weight: 600;


}
.bx{
    display: none;
    /* visibility: hidden; */
}
.navbar a:active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
/* On user side */
.main a{
    margin-right: 21px;
    margin-left: 11px;
    color: var(--dark-color);
  
    font-weight: 500;
    transition: all .50s ease;
    text-decoration:none

}

.user{
    display: flex;
    align-items: center;
}
.hide{
    display: none;
}
.user i{
    color: var(--dark-color);
    font-size: 26px;
    margin-right: 5px;

}
.main a:hover {
    color: var(--main-color);
    
}
#menu-icon{
    font-size: 34px;
    color:var(--dark-color);
    cursor: pointer;
    display: none;
    z-index: 1001;
}

i:hover{
    cursor: pointer;
}


/* Media Querry */
@media (max-width:1280px) {

    header{
        padding: 14px 3%;
        transition: .2s;
        /* margin: 0; */

    }
    .navbar a{
        padding: 0px 10px;
    }
    
}
@media (max-width:960px) {

    .bx{
        display: block;
    }

  .navbar{
    position: absolute;
    top: 100%;
    right: 2%;
    width: 200px;
    height:39vh;
    background: #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 9px;
    transition: all  .50s ease;
  }
  .navbar a{
    display: flexbox;
    color: #000;
    flex-wrap: wrap;
    margin: 12px 0;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color:#000000;
    transform: translateY(1px);
  }
  .navbar a:active{
    color: var(--dark-color);
  }
  .navbar.open{
    right: 2%;
  }

}
/* active notworking on styles.css ??? */
.active{
    font-family: cursive;
}
.active a::after{
    content:""; 
    float:left;
    width:100%; 
    height:2.5px; 
    border-radius: 10px;
    background: var(--main-color);
    color: #ffffff; 
     
}

