<div class="main-container">
    <br>
    <h2>Why DermCare.AI worth using?</h2>
    <br>
    <p class="para">AI dermatology offers a promising solution to many of the challenges faced in dermatological care, such as accessibility, accuracy, and speed. It complements the expertise of human dermatologists and has the potential to improve patient outcomes while reducing healthcare costs.</p>
    <br>
    <br>
    <div class="info-box-container">
        <div class="info-box">
            <div class="img-container">
                <!-- <i class="fa fa-laptop fa-3x" aria-hidden="true"></i> -->
                <img src="assets/images/availability.png" alt="Availability">
            </div>
            <h6>Availability 24/7</h6>
            <div class="content">
                <p>
                    AI dermatologists are available round the clock, providing convenient access to dermatological advice whenever patients need it.                </p>
            </div>
        </div>

        <div class="info-box">
            <div class="img-container">
                <img src="assets/images/construct.png" alt="accuracy">            
            </div>
            <h6>Accuracy & Consistency</h6>
            <div class="content">
                <p>
                    AI dermatologists break down geographical barriers. Patients in remote or underserved areas can access dermatological care without the need for physical visits to specialized clinics.
                </p>
            </div>
        </div>

        <div class="info-box">
            <div class="img-container">
                <img style="width: 90px;" src="assets/images/speedo1.png" alt="Speed">
            </div>
            <h6>Speed</h6>
            <div class="content">
                <p>
                    AI-based dermatology can deliver rapid results, which is crucial for early detection and timely treatment of skin conditions. Patients receive diagnoses and recommendations more swiftly compared to traditional methods.                
                </p>
            </div>
        </div>

        <div class="info-box">
            <div class="img-container">
                <img src="assets/images/reduce-cost.png" alt="low cost">
            </div>
            <h6>Reduced Healthcare Costs</h6>
            <div class="content">
                <p>
                    By streamlining the diagnostic process and reducing the need for multiple in-person visits, AI dermatology can contribute to cost savings for both healthcare providers and patients.
                </p>
            </div>
        </div>
    </div>
</div>