.main-container{
    padding-top: 11.5vh;
    margin: 0;
}
h2{
    text-align: center;
    margin: 0 32px;
    font-weight: bold;
}
.para{
    text-align: center;
    margin: 0px 32px 35px 32px;
}
.info-box-container{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgb(220, 220, 220);
    margin: 0 2vw;
    background-color: rgb(233, 233, 252);
    height: 290px;
    max-height: fit-content;
    animation: pulse 5s infinite;

}

  
  @keyframes pulse {
    0%, 100% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.00);
    }
  }
  
.info-box:hover{
    box-shadow: 8px 8px 6px rgb(220, 220, 220);
    margin-top: -8px;
    animation: pulse 0s infinite;
}
h6{
    font-weight: bold;
    /* color: rgb(22, 22, 92); */
}
.img-container{
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
    /* box-shadow: 0px 0px 4px rgb(220, 220, 220); */
    border: 8px solid rgb(233, 233, 252);
    background-color: rgb(13, 13, 59);
    margin: -47px 10px 10px 10px;
    padding: 15px;
    border-radius: 50%;
}
.img-container img{
    width: 69px;
    padding: 6px;
    height: 69px;
}

.fa-laptop,
.fa-line-chart{
    color: white;
    padding: 10px;
}

.content{
    /* color: rgb(22, 22, 92); */
    font-size: 14px;
    padding: 10px;
    width: 19.5vw;
    text-align: center;
}