<div class="carousel">
<div *ngIf="images && images.length >0" class="carousel-container">
    <h3>Begin with proper photo-taking skills first.</h3>

    <img *ngFor="let image of images; let i = index"
        [src]="image.imageSrc" [alt]="image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}"
        class="fade"
    >

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" 
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)"
        >
        </span>
    </div>

    <button *ngIf="controls" class="btn-carousel btn-prev">
        <i class="fa fa-arrow-circle-left icon-carousel icon-prev"
            (click)="onPrevClick()"
        ></i>
    </button>

    <button *ngIf="controls" class="btn-carousel btn-next">
        <i class="fa fa-arrow-circle-right icon-carousel icon-next"
            (click)="onNextClick()"
        ></i>
    </button>
</div>

<div class="btn-class">
    <button *ngIf="lastSlider" class="got-it" (click)="UploadImage()">Got It! &#8594;</button>
</div>
</div>