.carousel{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,white, rgb(224, 224, 255) ,  rgb(219, 219, 255) );
    animation: 1s fade-in ease;
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.carousel-container{
    position: relative;
    text-align: center;
    width: 380px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 6px 12px grey;
    margin-left: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    padding: 20px;
    color: rgb(22, 22, 92);
}

.carousel-container img{
    display: none;
    border-radius: 15px;
    padding: 30px;
    /* margin-top: 20px; */
}

.carousel-container img.image-active {
    display: block;
    width: 94%;
    height: 300px;
    opacity: 1;
}

/* dots/indicators */

.carousel-dot-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1rem;
}

.dot{
    cursor: pointer;
    height: 13px;
    border-radius: 50%;
    width: 13px;
    margin: 0px 5px;
    background-color: rgb(165, 189, 248);
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover{
    opacity: 1;
}

/* image transition */

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
} 

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: grey;
    text-align: center;
    background: 0 0;
    cursor: pointer;
    border: none;
}

.btn-prev {
    left: 0;
}
.btn-next {
    right: 0;
}

.icon-carousel {
    opacity: 0.5;
    color: grey;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    opacity: 0.9;
}

.icon-carousel:active{
    opacity: 0.5;
}

.icon-prev {
    font-size: 30px;
}
.icon-next {
    font-size: 30px;
}
.btn-class{
    width: 300px;
    outline: none;
}
.btn:focus{
    border: none;
    outline: none;
}

button.got-it{
    width: 250px;
    padding: 13px;
    margin-left: 50px;
    border: none;
    border-radius: 36px;
    color: white;
    background-color: rgb(13, 13, 59);
    font-size: 25px;
    outline: none;
}
button.got-it:hover{
    width: 270px;
    padding: 15px;
    transition: width 0.6s ease-in-out;
    background-color: rgb(22, 22, 92);
    cursor: pointer;
}

button.got-it:focus{
    border: none;
    outline: none;
}
