<div class="main-container">
    <div class="container">
        <div class="image">
            <img src="../../../assets/Auth-img/Login.svg" alt="Login">
        </div>
        <div class="content">
            <h3><strong>Login</strong></h3>
            <form class="login">
				<div class="login__field">
					<i class="login__icon fa fa-user"></i>
					<input type="text" class="login__input" placeholder="Email">
				</div>
				<div style="padding-bottom: 0;" class="login__field">
					<i class="login__icon fa fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password">
				</div>
                <a style="float: right; margin-top: 0;" href="/">Forgot Password?</a>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fa fa-chevron-right"></i>
				</button>				
			</form>
            <div class="register">Don't have an account? <a href="/">Register Now</a></div>
        </div>
    </div>
</div>