div.main-container{
  height: fit-content;
  background-image: linear-gradient(white , rgb(229, 229, 252) 50%, rgb(218, 218, 255) 90%);

}

div.img-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
}

div.main-section{
    width: 450px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 6px 12px grey;
    background-color: white;
    align-items: center;
    justify-content: center;
}
/* Style the container */
.img {
    padding: 25px; 
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  /* Style the error message */
  .img div {
    color: red;
    margin-bottom: 10px; 
  }

  .show-img {
    position: relative;
  }
  
  .centertext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    font-weight: bold;
  }
  
  .upload-image {
    background-color: rgba(22, 22, 92);
    color: white; 
    padding: 15px; 
    border-radius: 10px; 
    cursor: pointer; 
    overflow: hidden; 
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 400px;
    margin: 0px;
    font-size: 20px;
    position: relative; 
  }
  
 
  .upload-image input[type="file"] {
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0; 
    width: 100%; 
    height: 100%; 
    cursor: pointer; 
  }
  
  /* Style the "Choose File" button text (optional) */
  .upload-image span {
    display: block;
  }
  
  /* Style the "Choose File" button on hover (optional) */
  .upload-image:hover {
    background-color: rgb(28, 28, 136);
    /* background-color: #4697da; */
  }
  
  /* Style the displayed image */
  .img img {
    max-width: 60%; 
    margin-top: 20px;
    opacity: 0.4;
    border-radius: 10px;
  }

  form{
    display: flex;
    flex-direction: column;
  }

  input.btn{
    width: 150px;
    height: 45px;
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 30px;
    color: white;
    background-color: #4f9ede;;
    border: none;
    font-size: 20px;
    margin-top: 12px;
  }
  input.btn:hover{
    width: 170px;
    transition: width 0.6s ease;
    background-color: #3573a7;;
    cursor: pointer;
    
  }
  div.res h3{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
  }