<div class="main-container">
<div class="img-container">
    <h2 style="font-weight: bold;">Let's Start!</h2>
    <p>Add photo to make scan. You can upload photo from the device or take a photo with camera (available for mobiles)</p>
    <div class="main-section">
        <div class="img" id="img">
            <div>
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            </div>
            <form (submit)="onSubmit()">
                <p class="upload-image">
                    <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                    <br>
                    Upload Image
                    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
                </p>
                <div class="show-img">
                    <img [src]="selectedImage" *ngIf="selectedFile" />
                    <div *ngIf="selectedImage" class="centertext" style="color: #08c508;">Successfully Uploaded!</div> 
                </div>
                <input class="btn" *ngIf="selectedFile" type="submit" value="Submit" />
                </form>
        </div>
    </div>
</div>
<div class="res" *ngIf="response">
    <h3>Disease :<strong>{{ response }}</strong></h3>
  </div>
</div>