<div class="main-container">
    <div class="manage-initial-height">
        <div class="img-container">
            <h2 style="font-weight: bold;">Let's Start!</h2>
            <p>Add photo to make scan. You can upload photo from the device or take a photo with camera (available for
                mobiles)</p>
            <div class="main-section">
                <div class="img" id="img">
                    <div>
                        <div [innerHtml]='msg' *ngIf="msg" style="color: red;">{{ msg }}</div>
                    </div>
                    <form (submit)="onSubmit()">
                        <p class="upload-image">
                            <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                            <br>
                            Upload Image
                            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
                        </p>
                        <div class="show-img" *ngIf="show">
                            <img [src]="selectedImage" *ngIf="selectedFile" />
                            <div *ngIf="selectedImage" class="centertext" style="color: #2ad72a;">Successfully<br>Uploaded!
                            </div>
                        </div>
                        <input class="btn" *ngIf="selectedFile && show" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
        <div class="show" *ngIf="!show">
            <p style="text-align: center; padding-top: 30px;"><strong
                    style="text-decoration: underline; color: red;">Note:</strong> Rely on the results only if the
                symptoms align.
            </p>
            <div class="uploaded-img">
                <img [src]="selectedImage" />
                <button style=" margin: 0px 180px 0 90px; 
                background-color: rgb(93, 121, 198); 
                border-color: rgb(93, 121, 198);
                border-radius: 30px;
                font-size: 18px;
                width: 180px;
                padding: 10px 20px;" (click)="generateReport()">Create Report &#8594;</button>
            </div>
            <div class="res">
                <h4>Detected Disease : <strong style="text-decoration: underline;">{{ response }}</strong></h4>
                <!-- <h4><strong style="text-decoration: underline;">No Disease Detected!</strong></h4> -->
            </div>
            <br>
            <div style="display: flex; justify-content: center;" class="button-div">
                <button (click)="showDetail()">Description</button>
                <button (click)="showRecommend()">Recommendations</button>
            </div>

            <div *ngIf="detail" class="details">
                <strong style="font-size: 18px;">Description:</strong>
                <br>
                <div *ngIf="res==='AK'">
                    Actinic keratosis (AK), also known as solar keratosis or senile keratosis, is a precancerous
                    skin
                    condition that develops as a result of long-term sun exposure or ultraviolet (UV) radiation
                    exposure, such as from tanning beds. These lesions are often considered the earliest stage of
                    skin
                    cancer development and can progress to squamous cell carcinoma if left untreated. Actinic
                    keratosis
                    is most commonly found in fair-skinned individuals who have had significant sun exposure, but it
                    can
                    occur in people of all skin types.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Appearance:</strong>
                    <br>
                    Actinic keratoses typically appear as small, rough, scaly patches or lesions on the skin. They
                    can
                    vary in color, ranging from flesh-colored to reddish-brown, and may be flat or slightly raised.
                    They
                    are often found on sun-exposed areas of the body, such as the face, ears, scalp, neck, chest,
                    backs
                    of hands, forearms, or lips.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Causes:</strong>
                    <br>
                    The primary cause of actinic keratosis is cumulative sun damage, particularly UVB and UVA
                    radiation
                    from the sun. People with a history of frequent sunburns, outdoor occupations, or prolonged sun
                    exposure are at higher risk.
                </div>

                <div *ngIf="res==='BCC'">
                    Basal cell carcinoma (BCC) is the most common type of skin cancer, accounting for the majority
                    of
                    all skin cancer cases. It typically develops in the basal cells, which are found in the deepest
                    layer of the epidermis, the outermost layer of the skin. Basal cell carcinoma is generally
                    considered a slow-growing and less aggressive form of skin cancer compared to other types, such
                    as
                    melanoma or squamous cell carcinoma. However, it can still cause significant damage if left
                    untreated.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Appearance:</strong>
                    <br>
                    Basal cell carcinoma often appears as a pearly or waxy bump on the skin. It can also resemble a
                    pink
                    or flesh-colored, shiny, or translucent nodule. The lesion may have blood vessels visible on its
                    surface and may occasionally develop into a sore that does not heal.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Location:</strong>
                    <br>
                    Basal cell carcinoma most commonly occurs on sun-exposed areas of the body, such as the face,
                    neck,
                    ears, scalp, shoulders, and back. However, it can also develop in less sun-exposed areas.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Causes:</strong>
                    <br>
                    The primary cause of basal cell carcinoma is long-term exposure to ultraviolet (UV) radiation
                    from
                    the sun or tanning beds. Prolonged UV exposure damages the DNA in skin cells, leading to the
                    development of cancerous cells in the basal layer of the epidermis.
                </div>

                <div *ngIf="res==='BK-lL'">
                    Benign keratosis-like lesions refer to a group of skin abnormalities or growths that resemble
                    keratosis, which is the excessive growth of keratin, a protein found in the skin, hair, and
                    nails.
                    These lesions are generally non-cancerous (benign), but they can sometimes appear similar to
                    more
                    serious skin conditions, such as actinic keratosis or even skin cancer. It's essential to
                    distinguish between benign keratosis-like lesions and potentially harmful conditions to ensure
                    appropriate diagnosis and treatment.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Appearance:</strong>
                    <br>
                    The appearance of benign keratosis-like lesions can be quite diverse. These lesions may have a
                    rough, scaly, or slightly raised texture. Some may feel flat and firm. They can range in color
                    from
                    flesh-colored to pink, red, brown, or black, depending on the specific type of lesion. These
                    lesions
                    may appear as small papules (bumps), plaques (flat patches), or nodules (larger raised bumps).
                    They
                    can vary in size from a few millimeters to a centimeter or more.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Location:</strong>
                    <br>
                    The location of benign keratosis-like lesions can vary widely, and they can appear on various
                    parts
                    of the body. Some common locations include face, trunk & torso, genital area, scalp and
                    extremities.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Cause:</strong>
                    <br>
                    The causes of benign keratosis-like lesions can vary depending on the specific type of growth.
                </div>

                <div *ngIf="res==='DMF'">
                    Dermatofibroma is a common benign (non-cancerous) skin lesion that typically appears as a small,
                    firm, raised nodule or bump on the skin's surface. These lesions most often develop on the legs,
                    but
                    they can also occur on other parts of the body. Dermatofibromas are usually harmless and don't
                    require treatment unless they become painful or bothersome.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Appearance:</strong>
                    <br>
                    Dermatofibromas are typically brown or reddish-brown in color, and they may have a slightly
                    darker
                    center. They are usually firm to the touch and feel like a hard lump or nodule. The size of a
                    dermatofibroma can vary but is typically small, ranging from a few millimeters to a centimeter
                    or
                    more in diameter.
                    <br>
                    When you press on a dermatofibroma, it often dimples or "caves in" in the center. This is a
                    distinctive feature known as the "dimple sign" and is a key diagnostic indicator.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Location:</strong>
                    <br>
                    Dermatofibromas often develop on the lower legs, particularly in women, but they can also occur
                    on
                    the arms and other areas of the body.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Cause:</strong>
                    <br>
                    The exact cause of dermatofibromas is not well understood, but they are thought to result from a
                    reaction to minor trauma, such as insect bites, ingrown hairs, or injury to the skin. Some
                    researchers believe that dermatofibromas may be a form of scar tissue or a benign tumor of the
                    skin's connective tissue.
                </div>

                <div *ngIf="res==='MN'">
                    Melanocytic nevi, commonly referred to as moles, are benign (non-cancerous) growths on the skin.
                    They are composed of melanocytes, the pigment-producing cells in the skin, and can vary in size,
                    color, and appearance. Melanocytic nevi are typically harmless, but they can sometimes change
                    over
                    time or exhibit atypical features that may require medical evaluation.
                    <br>
                    Melanocytic nevi, commonly known as moles, are benign skin growths that develop when melanocytes
                    (pigment-producing cells) cluster together. Most moles are harmless, but it's important to
                    monitor
                    them for changes that could indicate skin cancer (melanoma).
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Apperance:</strong>
                    <br>
                    Melanocytic nevi can appear in various forms, including:
                    <ul>
                        <li>Common Moles: These are small to medium-sized, round or oval-shaped lesions with a
                            uniform
                            color, typically ranging from tan to brown. They can be flat or slightly raised and have
                            well-defined borders.</li>
                        <li>Dysplastic Nevi (Atypical Moles): Dysplastic nevi are larger and irregularly shaped
                            moles
                            with uneven coloring (variations of brown, tan, red, pink, or other colors). They may
                            have
                            an irregular border and exhibit some features that resemble melanoma, a type of skin
                            cancer.
                        </li>
                        <li>Congenital Moles: These moles are present at birth or develop shortly after birth. They
                            can
                            vary in size and may be pigmented or non-pigmented (flesh-colored).</li>
                    </ul>

                    <strong style="font-size: 18px;">Location:</strong>
                    <br>
                    Melanocytic nevi can appear anywhere on the skin, including the face, neck, arms, legs, and
                    torso.
                    They can also develop on mucous membranes (e.g., inside the mouth) and the scalp.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Cause:</strong>
                    <br>
                    Moles can develop at any age but are more likely to appear during childhood and adolescence.
                    They
                    often change in appearance and size over time, especially during hormonal changes, such as
                    puberty
                    and pregnancy.
                </div>

                <div *ngIf="res==='PGH'">
                    Pyogenic granuloma, also known as lobular capillary hemangioma, is a benign vascular growth that
                    typically appears as a reddish or purplish bump on the skin or mucous membranes (the moist
                    tissues
                    lining various body cavities). Despite the term "pyogenic," which implies the presence of pus,
                    pyogenic granulomas are not related to infection. Instead, they are characterized by an
                    overgrowth
                    of blood vessels in the affected area.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Appearance:</strong>
                    <br>
                    Pyogenic granulomas often present as small, round or oval-shaped, raised nodules or bumps. They
                    can vary in size from a few millimeters to a centimeter or more. The color of the lesion is
                    typically red or pink, but it can also appear purplish due to the abundance of blood vessels.
                    These
                    growths may bleed easily and can develop a crust on the surface.
                    <br>But pyogenic granulomas are rarely related to infection, and they don’t generally contain
                    white
                    blood cells or pus.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Lcation:</strong>
                    <br>
                    Pyogenic granulomas can occur on various parts of the body, but they are most commonly found on
                    the face, neck, hands, fingers, and oral cavity (gums, lips, tongue). They can also develop at
                    the
                    site of a recent injury or trauma.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Cause:</strong>
                    <br>
                    The exact cause of pyogenic granulomas is not always clear, but they often develop in response
                    to
                    minor trauma, such as a scratch, insect bite, injury, hormonal changes (as seen in pregnancy),
                    or
                    certain medications. These factors can trigger an abnormal response in the blood vessels,
                    leading to
                    the formation of the granuloma.
                </div>

                <div *ngIf="res==='MLNM'">
                    Melanoma is a type of skin cancer that originates in melanocytes, the pigment-producing cells in
                    the
                    skin. It is one of the most aggressive forms of skin cancer and has the potential to spread to
                    other
                    parts of the body if not detected and treated early. Melanoma is less common than other skin
                    cancers, such as basal cell carcinoma and squamous cell carcinoma, but it is much more likely to
                    metastasize (spread to other organs), making early diagnosis and intervention critical.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Apperance:</strong>
                    <br>
                    Melanoma can appear in various ways, but it often presents as a new, unusual, or changing mole.
                    The
                    ABCDE rule can help identify suspicious features:
                    <ul>
                        <li>A: Asymmetry (one half of the mole does not match the other).</li>
                        <li>B: Border irregularity (edges are not well-defined).</li>
                        <li>C: Color variation (different colors within the same mole).</li>
                        <li>D: Diameter (greater than 6 millimeters).</li>
                        <li>E: Evolution (changes in size, shape, or other characteristics).</li>
                        However, not all melanomas follow these criteria, and some may have no pigment, making them
                        pink or
                        flesh-colored.
                    </ul>
                    <strong style="font-size: 18px;">Location:</strong>
                    <br>
                    Melanoma can develop anywhere on the skin, including areas not exposed to the sun. In men,
                    it is most commonly found on the chest and back, while in women, it often occurs on the legs.
                    <br>
                    <br>
                    <strong style="font-size: 18px;">Causes:</strong>
                    <br>
                    Melanoma is primarily caused by exposure to ultraviolet (UV) radiation from the sun, tanning
                    beds,
                    or other sources. UV radiation can damage the DNA in melanocytes, leading to the development of
                    cancerous cells.
                </div>
            </div>
            <div *ngIf="recommend" class="recommend">
                <strong style="font-size: 18px;">Recommendations:</strong>
                <br>

            </div>

            <div *ngIf="report" class="report">
                <h3 style="font-weight: bold;">Report Generation</h3>
                <h6>Fill details to generate report</h6>
                <form #questionForm="ngForm" (ngSubmit)="generatePDF()">
                    <div class="form-group justify-center">
                        <label for="description"><p>Name:</p></label>
                        <input type="text" id="duration" placeholder="Enter Your Name" [(ngModel)]="questions[1].answer" name="duration">
                    </div>
                    <div class="form-group justify-center">
                        <label for="description"><p>Age:</p></label>
                        <input type="number" id="duration" placeholder="Enter your age" [(ngModel)]="questions[2].answer" name="duration">
                    </div>
                    <div class="form-group justify-center">
                        <label for="description"><p>Gender:</p></label>
                        <input type="text" id="duration" [(ngModel)]="questions[3].answer" name="duration">
                    </div>
                    <div class="form-group justify-center">
                        <label for="description"><p>Blood-group:</p></label>
                        <input type="text" id="duration" [(ngModel)]="questions[4].answer" name="duration">
                    </div>

                    <div class="form-group justify-center">
                        <label for="description"><p>Skin-type: </p></label>
                        <input type="text" id="duration" [(ngModel)]="questions[5].answer" name="duration">
                    </div>

                    <div class="form-group">
                        <p>Choose Symptoms:</p>
                        <div *ngFor="let option of questions[0].options; let j = index">
                            <label class="options">
                                <input type="checkbox" name="q0_option{{ j }}"
                                    [(ngModel)]="questions[0].options[j].selected" />
                                {{ option.text }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="duration"><p>How long have you been experiencing these symptoms:</p></label>
                        <input type="text" id="duration" [(ngModel)]="questions[6].answer" name="duration">
                    </div>

                    <div class="form-group description-textarea">
                        <label for="description"><p>Provide a brief description of your condition:</p></label>
                        <br>
                        <textarea id="description" [(ngModel)]="questions[7].answer" name="description"></textarea>
                    </div>

                    <button style=" margin: 20px 0; 
                    background-color: rgb(93, 121, 198); 
                    border-color: rgb(93, 121, 198);
                    border-radius: 30px;
                    font-size: 18px;
                    padding: 10px 12px;" type="submit">Generate PDF</button>
                </form>
            </div>
            <button  *ngIf="report" class="connect-Dr" (click)="meetDoctor()">Consult to a Doctor</button>

        </div>
    </div>
</div>