<!-- <p>navbar works!</p> -->
<header>
    <div class="logo-name logo">
        <h2 style="font-weight: bold;">DermCare.AI</h2>
    </div>
    <ul class="navbar">
        <li (click)="tohome()" [routerLinkActive]="'active'" ><a [routerLink]="" class="nav-items">Home</a></li>
        <li (click)="toabout()" [routerLinkActive]="'active'" ><a class="nav-items">About</a></li> 
        <li (click)="toBenefits()" [routerLinkActive]="'active'" ><a class="nav-items">Services</a></li> 
        <li (click)="toWhy()" [routerLinkActive]="'active'" ><a  class="nav-items">Why to choose ?</a></li>
    </ul>
    <div class="main">
        <a href="#" class="user hide"><i class="ri-user-fill hide"></i>Sign In</a>
        <a href="#" class="hide">Register</a>

        <!-- <a href="#" class="user"><i class="ri-user-fill"></i>Sign In</a>
        <a href="#">Register</a> -->
        <button class="btn" (click)="newCrousel()">Try Now &#8594; </button>
        <div class="bx bx-menu"></div>
    </div>
    <div class="components">
        <router-outlet></router-outlet>
    </div>
</header>