
header{
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: transparent; */
    background-color: white;
    padding: 22px 14%;
    transition: all .50s ease;
    height: 100px;
}

button{
    border-radius: 30px;
    background-color: rgb(13, 13, 59);
    color: white;
    padding: 0px 30px;
    margin-right: 10px;
    /* margin-right: 30px; */
    width: 150px;
    height: 50px;
    font-size: 18px;
    align-self: flex-end;
}
button:hover{
    width: 190px;
    color: white;
    background-color: rgba(22, 22, 92);
    transition: width 0.6s ease-in-out; ;
    cursor: pointer;
    /* box-shadow: 0px 0px 4px gray; */
}
.logo{
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 0;
}
.logo i{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.logo span{
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
}
li{
    list-style-type: none;
}

.navbar{
    display: flex;
    margin: auto;
    margin-left: 0;
}
.navbar a{
    color: var(--dark-color);
    font-size: 1.425rem;
    font-weight: 500;
    padding: 2px 0px;
    margin: 0 10px;
    transition: all 1s ease;
    text-decoration:none
}
.navbar a:hover{
    color: var(--main-color);
    font-weight: 600;


}
.navbar a:active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
    width: 200px;
}
/* On user side */
.main a{
    margin-right: 21px;
    margin-left: 11px;
    color: var(--dark-color);
  
    font-weight: 500;
    transition: all .50s ease;
    text-decoration:none

}
.user{
    display: flex;
    align-items: center;
}
.hide{
    display: none;
}
.user i{
    color: var(--dark-color);
    font-size: 26px;
    margin-right: 5px;

}
.main a:hover {
    color: var(--main-color);
    
}
#menu-icon{
    font-size: 34px;
    color:var(--dark-color);
    cursor: pointer;
    display: none;
    z-index: 1001;
}
.bx{
    display: none;
}

/* Media Querry */
@media (max-width:1280px) {

    header{
        padding: 14px 2%;
        transition: .2s;
        /* margin: 0; */

    }
    
    .navbar a{
        padding: 5px 10px;
        margin: 0 25px;

    }
}
@media (max-width:960px) {

    .bx{
        display: block;
    }

  .navbar{
    position: absolute;
    top: 100%;
    right: 2%;
    width: 240px;
    height:29vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 9px;
    transition: all  .50s ease;
  }
  .navbar a{
    display: block;
    margin: 12px 0;
    padding-top: 0 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color:#fff;
    transform: translateY(1px);
  }
  .navbar a:active{
    color: var(--dark-color);
  }
  .navbar.open{
    right: 2%;
  }

}