<!-- <p>navbar works!</p> -->
<header>
    <div class="logo-name logo">
        <h2 style="font-weight: bold;">DermCare.AI</h2>
    </div>
    <ul class="navbar">
        <li><a href="#" class="nav-items">Home</a></li>
        <li><a href="#" class="nav-items">About</a></li> 
        <li><a href="#" class="nav-items">Services</a></li> 
        <li><a href="#" class="nav-items">Contact-us</a></li>
    </ul>
    <div class="main">
        <a href="#" class="user hide"><i class="ri-user-fill hide"></i>Sign In</a>
        <a href="#" class="hide">Register</a>

        <!-- <a href="#" class="user"><i class="ri-user-fill"></i>Sign In</a>
        <a href="#">Register</a> -->
        <button class="btn" (click)="newCrousel()">Try Now &#8594; </button>
        <div class="bx bx-menu"></div>
    </div>
    <div class="components">
        <router-outlet></router-outlet>
    </div>
</header>