<!-- <p>why-to-chose works!</p> -->
<h3>Do You Know ?</h3>
<div class="why-slider-container">

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <div class="para-container">

                    <p>In the global burden of disease study 2017, skin diseases ranked 10th
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In the global burden of disease study 2017, skin diseases ranked 10th
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In the global burden of disease study 2017, skin diseases ranked 10th
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In the global burden of disease study 2017, skin diseases ranked 10th
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In the global burden of disease study 2017, skin diseases ranked 10th
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In the global burden of disease study 2017, skin diseases ranked 10th
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In the global burden of disease study 2017, skin diseases ranked 10th
                        <a href="#">Read More </a></p>
                </div>
            </div>

        </div>
    </div>
    
</div>