<p>app-main works!</p>
<div class="left-elements">
    <div class="left-img">
        <img src="assets/home-left-side-vector.png" alt="background" />
    </div>
    <div class="homesection1-text">
        <h1>
            If You Want To Eliminate Hunger
            Everyone Has To Be Involved
        </h1>
        <p>
            Feed the hungry, Save humanity.<br>
            The food drive to help the future survive.
        </p>
        <button>
            <a routerLink="/sign-up">
            SignUp Now!</a>
        </button>

    </div>
</div>
<div class="right-elements">
    <!-- <div id="home-img-1">
        <img src="assets/food_diving.jpg" alt="header" />
    </div> -->
    <div id="home-img-2">
        <img src="assets/home-side-vector1.png" alt="logo" />
    </div>
</div>