<div class="main-container">
    <div class="container">
        <div class="image">
            <img src="../../../assets/Auth-img/forgot-pass.svg" alt="Login">
        </div>
        <div class="content">
            <h3><strong>Reset Password</strong></h3>
            <form class="login" (ngSubmit)="onSubmit()">
                
                <div class="login__field">
					<i class="login__icon fa fa-user"></i>
					<input type="email" class="login__input" name="email" placeholder="Email" [(ngModel)]="email" required>
				</div>

				<div style="padding-bottom: 0;" class="login__field">
					<i class="login__icon fa fa-lock"></i>
					<input type="password" class="login__input" name="password" placeholder="Enter New Password" [(ngModel)]="password" required>
				</div>

				<button class="button login__submit">
					<span class="button__text">Reset Password</span>
					<i class="button__icon fa fa-chevron-right"></i>
				</button>				
			</form>
        </div>
    </div>
</div>