.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1200' height='600' preserveAspectRatio='none' viewBox='0 0 1200 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3crect width='1200' height='600' x='0' y='0' fill='rgba(208%2c 205%2c 255%2c 0.2)'%3e%3c/rect%3e%3cpath d='M9.7 114.01 a140.58 140.58 0 1 0 281.16 0 a140.58 140.58 0 1 0 -281.16 0z' fill='rgba(230%2c 230%2c 255%2c 0.2)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M798.45 198.85 a139.15 139.15 0 1 0 278.3 0 a139.15 139.15 0 1 0 -278.3 0z' fill='rgba(230%2c 230%2c 255%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M379.45 477.77 a199.55 199.55 0 1 0 399.1 0 a199.55 199.55 0 1 0 -399.1 0z' fill='rgba(230%2c 230%2c 255%2c 0.2)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-66.22 18.89 a106.99 106.99 0 1 0 213.98 0 a106.99 106.99 0 1 0 -213.98 0z' fill='rgba(230%2c 230%2c 255%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M4.59 328.71 a141.67 141.67 0 1 0 283.34 0 a141.67 141.67 0 1 0 -283.34 0z' fill='rgba(230%2c 230%2c 255%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='1200' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

}
.container{
    height: 80vh;
    width: 70vw;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}
img{
    height: 80vh;
    width: 40vw;
}
.content{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid rgb(40, 40, 115);
    padding: 60px;
}
h3{
    color: rgb(40, 40, 115);
}
.login{
    width: 100%;
}

.login__field {
	padding: 10px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 20px;
	color: rgb(40, 40, 115);
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 5px 10px;
	padding-left: 24px;
	font-weight: 700;
	transition: .2s;
    width: 100%;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: rgb(40, 40, 115);
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 40px;
	padding: 12px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: rgb(47, 43, 118);
	box-shadow: 0px 2px 2px rgb(40, 40, 115);
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: rgb(40, 40, 115);
	outline: none;
    box-shadow: 0px 2px 4px rgb(40, 40, 115);
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: rgb(40, 40, 115);
}
.register,
a{
    margin-top: 10px;
    font-size: 13px;
    text-decoration: none;
}