<app-header id="head"></app-header>
<section id="home" >
    <app-hero></app-hero>
</section>

<div title="Join us as Doctor" style="margin-top: -120px;
            right: 0; 
            position: fixed; 
            z-index: 100;
            margin-right: 20px;
            ">
    <button style="padding: 15px;
                   background-color: rgba(70, 70, 116, 0.931);
                   border: none;
                   border-radius: 50%;
                   font-size: 20px;
                   width: 74px;">     
        <i style="color: white;" class="fa fa-user-md fa-2x"></i>
    </button>
</div>

<section id="why">
    <app-benefits></app-benefits>
</section>

<section id="benefits">
    <app-basic-importance></app-basic-importance>
</section>

<section >
    <app-image ></app-image>
</section>

<section >
    <app-get-started></app-get-started>
</section>

<section id="about">
    <app-about-us></app-about-us>
</section>

<section id="reviews">
    <app-why-to-chose></app-why-to-chose>
</section>


<section >
    <app-footer></app-footer>
</section>

