<app-header></app-header>
<section #home id="home" >
    <app-hero></app-hero>
</section>

<section #benefits id="benefits">
    <app-benefits></app-benefits>
</section>
<!-- <app-why-to-chose></app-why-to-chose> -->
<section #why id="why">
    <app-basic-importance></app-basic-importance>
</section>

<section >
    <app-image ></app-image>
</section>

<section >
    <app-get-started></app-get-started>
</section>

<section #about id="about">
    <app-about-us></app-about-us>
</section>

<section >
    <app-footer></app-footer>
</section>