div.container{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    height: 60vh;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(239, 239, 255);
    border-radius: 10px;
    box-shadow: 220px 0px 73px white inset;
}

button{
    border-radius: 30px;
    background-color: rgb(13, 13, 59);
    color: white;
    padding: 0px 40px;
    margin-top: 20px;
    margin-right: 10px;
    width: 180px;
    height: 50px;
    font-size: 19px;
    /* align-self: center; */
    margin-left: 260px;
    border: 1px solid rgb(13, 13, 59);
}
button:hover{
    width: 200px;
    color: white;
    background-color: rgb(14, 14, 74);
    cursor: pointer;
    transition: width 0.5s ease-in-out;
    /* box-shadow: 0px 0px 4px gray; */
}

.content{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    padding: 32px 70px;
}
