<div class="container">
    <img src="assets\images\imageSectionPic.png" alt="">
    <div class="content">
        <h1>AI Dermatologist can save your life</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis illo dolorem sit iusto 
            repellendus, aut ullam beatae rem impedit eius saepe iure natus odit eaque sequi illum. 
            Accusantium dolorem laborum placeat quod saepe velit et doloribus quis incidunt quisquam 
            nostrum quae quas vel, iusto repellat.</p>
        <button class="btn" (click)="newCrousel()">Let's Try &#8594; </button>
    </div>
</div> 