<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="contact-us">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Create an account</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Affiliate Program</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#" class="box" id="fb"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="box" id="wa"> <i class="fa fa-whatsapp"></i></a>
                    <a href="#" class="box" id="tw"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="box" id="ig"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="box" id="li"><i class="fa fa-linkedin"></i></a>
                    <!-- <a href="#"><i class="fa fa-youtube"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>
