.about-ai-dermo{
    height: 100vh;
    background-image: url("/user/src/assets/images/layered-bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw;
    box-shadow: 0px 18px 10px 14px #6187fc;;
}