<div class="container">
    <img src="assets\images\imageSectionPic.png" alt="">
    <div class="content">
        <h2>DermCare.AI can save your life</h2>
        <p>Are you ready to experience dermatology like never before? It's time to harness the power of AI for your
            skin's health. Get started with our AI-based dermatologist today and take the first step towards healthier,
            happier skin.</p>
        <button class="btn" (click)="newCrousel()">Let's Try &#8594; </button>
    </div>
</div>