<!-- <p>hero works!</p> -->
<section class="hero">
    <div class="hero-container">
        <div class="left-text column">
            
<h1>
Welcome to Derm Care 
</h1>
<p>
Empowering Healthy Skin, One Click at a Time
<br>
Are you concerned about your skin's health?<br>Don't Worry! we are here, your trusted partner in skin health. </p>
<button (click)="newCrousel()">
    <a href="" class="text" >Get Started</a>
</button>
<br>

</div>
        <div class="right-content column">
           <img style="margin-right: 30px;" src="../../../assets/images/check-skin.svg" alt="imgHero" class="img-hero">
        </div>
</div>
</section>