.hero{
    height: fit-content;
    margin: 10px auto;
    box-shadow: -103px 0px 100px white inset;
    background-image: linear-gradient(to bottom,white 20%, rgb(224, 224, 255) ,  rgb(219, 219, 255) );
}

.hero::before{
    content: "";
    position: absolute;
    /* background: url(../../../assets/images/Home1Hero-main.jpeg) no-repeat center center/cover; */
    height: fit-content;
    /* padding-top: 20vh; */
    z-index: -1;
}

.hero-container{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
}
.left-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
    margin: 15px 20px;
    /* animation: slide-right 0.8s ease-out; */
    /* animation: fade-in 1s ease-in; */
    align-items: left;
    /* overflow: hidden; */
}
h1{
    /* font-size: 2rem; */
    font-weight: bold;
    padding: 0 20px;
    animation: fade-in 0.5s ease-in;
    overflow: hidden;
    color: rgb(13, 13, 59);
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

p{
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 20px;
    overflow: hidden;
    animation: fade-in 0.5s ease-in;
}
button{
    border-radius: 30px;
    background-color: rgb(13, 13, 59);
    color: white;
    padding: 0px 20px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    font-size: 1.1rem;
    align-self: flex-start;
    border: 1px solid var(--main-color);
    animation: fade-in 0.5s ease-in;
}

  

div a.text{
  animation: bounce 4s infinite;
}

  @keyframes pulseOut {
    0%{
      transform: scale(1);
    }
    50% {
      transform: scale(1.09);
    }
    100% {
        transform: scale(1.1);
    }
  }
  
  a.text {
    animation: bounce 10s 4;
    animation-delay: 10s;
  }
  
button:hover{
    background-color: rgba(22, 22, 92);
    transition: width 0.5s ease-in; ;
    cursor: pointer;
    width: 165px;
    transition: width 0.5s ease;
}

a{
    color: #fff;
    text-decoration: none;
}
.img-hero{
    overflow: hidden;
    height: 85vh;
    /* margin-top: -45px; */
    mix-blend-mode:multiply;
    animation: 1s fade-in;
}

.img-hero img{

    background-blend-mode: multiply; 
    animation: fade-in 1s;
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
@keyframes fade-out {
  from{
      opacity: 1;
  }
  to{
      opacity: 0.8;
  }
  
}

/* media querry */
@media (max-width:960px) {
.hero{
    text-align: center;
    height: fit-content;
      margin: 0 auto;
    /* height: 60vh; */
   
    border-radius: 10px;
    box-shadow: 220px 0px 73px white inset;
    background-image: linear-gradient(white , rgb(236, 236, 255) 50%, rgb(233, 233, 252) 90%);
}
.img-hero{

    width: 400px;
    opacity: 0.078;
    /* mix-blend-mode:multiply; */

}
.img-hero img{
   
    background-blend-mode: multiply; 
}

}