<div class="main-container">
<div class="about-ai-dermo">
    <div class="img">
        <img src="assets/images/ai-health.png" alt="ai">
    </div>
    <div class="content">
    <h2>Revolutionizing Dermatology with AI</h2>
    <p>AI-based dermatology is revolutionizing skin care by harnessing the power of artificial intelligence to enhance
        diagnostics and treatment. Our AI dermatologist combines cutting-edge technology with the expertise of
        board-certified dermatologists to provide accurate and accessible skin assessments. Whether it's identifying
        common conditions like acne or detecting potentially serious issues, our AI system empowers individuals to take
        proactive steps towards healthier skin.</p>
    <p>With our AI-based dermatology service, you gain instant access to reliable skin assessments from the comfort of
        your home. 
        <!-- Our platform is user-friendly and confidential, ensuring your privacy is safeguarded. -->
         Say goodbye to
        long wait times and hello to timely, data-driven insights for better skin health. Trust in AI to augment
        dermatological care, making it convenient, efficient, and tailored to your unique needs.</p>

    </div>
</div>
</div>