.risk-container{
    display: block;
    padding: 50px;
    /* padding: 16px; */
    background-color: rgb(255, 255, 255);
    z-index: -200;
    height: fit-content;
    width: 98vw;
}

h3{
    font-weight: bold;
}
p{
 font-size: 13px;
}
.benefits-of-using{

padding: 2px 10px;
display: flex;
width: 50vw;
}
.box{
    /* position: relative; */
    top: 10px;
    margin-top: 15px;
    flex: 1;
    height: fit-content;
    
}
.container{
    display: flex;
    justify-content: center;
}
.list{
    padding: 10px 10px;
    height: fit-content;
    display: flex;
    /* border: 1px solid #bbbbbb67; */
    /* box-shadow: var(--main-color) 1px 1px 2px; */
    border-radius: 15px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
}
.item{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(241, 241, 254);
    background-color: rgb(241, 241, 254);
    color: black;
    border-radius: 50px;
    width: 26vw;
    box-shadow: inset 4px 4px 8px rgb(255, 255, 255);
}
p{
    margin: 0;
}
.icon{
    padding: 4px;
}
.icon svg{
   height: 30px;
   fill: #09d609;
}

.desc{
    font-size: 14px;
}
.end{
    align-self: flex-start;
    margin-left: 21vw;
}

.start{
    align-self: flex-end;
    margin-right: 21vw;
}
.item:hover{
    border: 2px solid rgb(13, 13, 59);
    background-color: white;
    box-shadow: 2px 2px 4px rgb(13, 13, 59);
}
