.risk-container {
    display: block;
    padding: 50px 50px 40px 50px;
    /* padding: 16px; */
    background-color: rgb(255, 255, 255);
    z-index: -200;
    height: fit-content;
    width: 98.6vw;
    animation: fade-in 3s ease;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1272%26quot%3b)' fill='none'%3e%3cpath d='M53.6 332.6 a132.48 132.48 0 1 0 264.96 0 a132.48 132.48 0 1 0 -264.96 0z' fill='rgba(223%2c 223%2c 252%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-88.71 173.98 a117.88 117.88 0 1 0 235.76 0 a117.88 117.88 0 1 0 -235.76 0z' fill='rgba(223%2c 223%2c 252%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M564.24 584.23 a172.08 172.08 0 1 0 344.16 0 a172.08 172.08 0 1 0 -344.16 0z' fill='rgba(223%2c 223%2c 252%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M992.73 465.44 a178.56 178.56 0 1 0 357.12 0 a178.56 178.56 0 1 0 -357.12 0z' fill='rgba(223%2c 223%2c 252%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M409.22 371.73 a151.32 151.32 0 1 0 302.64 0 a151.32 151.32 0 1 0 -302.64 0z' fill='rgba(223%2c 223%2c 252%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1272'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


h3 {
    font-weight: bold;
    /* text-align: center; */
}

p {
    /* text-align: center; */
    font-size: 13px;
}

.benefits-of-using {
    display: flex;
    width: 50vw;
}

.box {
    /* position: relative; */
    top: 10px;
    margin-top: 15px;
    flex: 1;
    height: fit-content;

}

.container {
    display: flex;
    justify-content: center;
}

.list {
    padding: 10px;
    height: fit-content;
    display: flex;
    /* border: 1px solid #bbbbbb67; */
    /* box-shadow: var(--main-color) 1px 1px 2px; */
    border-radius: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
}

.item {
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin: 4px 0;
    align-items: center;
    border: 2px solid rgb(209, 209, 253);
    background-color: rgb(209, 209, 253);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 28vw;
    box-shadow: inset 4px 4px 8px rgb(255, 255, 255);
    animation: fade-in 1s ease;
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

p {
    margin: 0;
}

.icon {
    padding: 2px 4px;
}

.icon svg {
    height: 35px;
    fill: #19e119;
}

.desc {
    font-size: 13px;
}

.end {
    align-self: flex-start;
    margin-left: 22vw;
}

.start {
    align-self: flex-end;
    margin-right: 22vw;
}

.item:hover {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(15, 15, 39);
    animation: pulseOut 2s ease;
}

@keyframes pulseOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.09);
    }

    100% {
        transform: scale(1.1);
    }
}