.risk-container{
    display: block;
    margin: 40px 60px;
    padding: 16px;
    background-color: rgba(255, 248, 248, 0.362);
    z-index: -200;
}
h3,p{
    margin-left: 45px;
}

h3{
   
    font-size: 2.345rem;
    font-weight: 700;
    margin-top: 20px;
}
p{
 font-size: 1rem;
}
.benefits-of-using{

padding: 2px 10px;
display: flex;
}
.box{
    position: relative;
    top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    flex: 1;
    height: 400px;

   
    
}
.list{
    padding: 1px 10px;
    width: 680px;
    height:300px;
    display: flex;
    border: 1px solid #bbbbbb67;
    box-shadow: var(--main-color) 1px 1px 2px;
    border-radius: 15px;
}
.col{
    flex:1;
    /* background-color: aliceblue; */
}
.item{
    padding: 20px 5px;
}
.icon{
    padding: 4px;
}
.icon svg{
   height: 20px;
   fill: var(--main-color);
}
.right{
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border-radius: 10px; */
    box-shadow: 4px 4px 6px rgb(220, 220, 220);
    margin: 0 auto;
    /* background-color: rgb(239, 239, 255); */
    padding: 20px 100px;
}
.desc{
    font-size: 18px;
}