.risk-container {
    display: block;
    padding: 65px 62px 95px 62px;
    /* padding: 16px; */
    background-color: rgb(255, 255, 255);
    z-index: -200;
    height: fit-content;
    width: 98.6vw;
    animation: fade-in 3s ease;
    background-image: url('../../../assets/images/basic-benefit-bg.png');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
}


h3 {
    font-weight: bold;
    /* text-align: center; */
}

p {
    /* text-align: center; */
    font-size: 13px;
}

.benefits-of-using {
    display: flex;
    width: 50vw;
}

.box {
    /* position: relative; */
    top: 10px;
    margin-top: 50px;
    flex: 1;
    height: fit-content;

}

.container {
    display: flex;
    justify-content: center;
}

.list {
    padding: 10px;
    height: fit-content;
    display: flex;
    /* border: 1px solid #bbbbbb67; */
    /* box-shadow: var(--main-color) 1px 1px 2px; */
    border-radius: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
}

.item {
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin: 4px 0;
    align-items: center;
    border: 2px solid rgb(209, 209, 253);
    background-color: rgb(209, 209, 253);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 28vw;
    box-shadow: inset 4px 4px 8px rgb(255, 255, 255);
    animation: fade-in 1s ease;
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

p {
    margin: 0;
}

.icon {
    padding: 2px 4px;
}

.icon svg {
    height: 35px;
    fill: #19e119;
}

.desc {
    font-size: 13px;
}

.end {
    align-self: flex-start;
    margin-left: 22vw;
}

.start {
    align-self: flex-end;
    margin-right: 22vw;
}

.item:hover {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(15, 15, 39);
    animation: pulseOut 2s ease;
}

@keyframes pulseOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.09);
    }

    100% {
        transform: scale(1.1);
    }
}