.risk-container {
    display: block;
    padding-top: 18vh;
    /* padding: 16px; */
    background-color: rgb(255, 255, 255);
    z-index: -200;
    height: fit-content;
    width: 98.6vw;
    animation: fade-in 3s ease;
    background-image: url('../../../assets/images/basic-benefit-bg.png');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
}


h2 {
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
    font-size: 15px;
    margin: 0;
}

.benefits-of-using {
    display: flex;
    /* width: 50vw; */
}

.box {
    /* position: relative; */
    top: 10px;
    margin-top: 50px;
    flex: 1;
    height: fit-content;

}

.container {
    display: flex;
    justify-content: center;
}

.list {
    padding: 10px;
    height: fit-content;
    display: flex;
    /* border: 1px solid #bbbbbb67; */
    /* box-shadow: var(--main-color) 1px 1px 2px; */
    border-radius: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
}

.item {
    display: flex;
    flex-direction: row;
    padding: 14px;
    margin: 4px 0;
    align-items: center;
    border: 2px solid rgb(209, 209, 253);
    background-color: rgb(209, 209, 253);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 28vw;
    box-shadow: inset 4px 4px 8px rgb(255, 255, 255);
    animation: fade-in 1s ease;
    z-index: 2;
}
@keyframes fade-in {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
    
}


.icon {
    padding: 2px 4px;
}

.icon svg {
    height: 35px;
    fill: #19e119;
}

.desc {
    font-size: 15px;
}

.end {
    align-self: flex-start;
    margin-left: 30.5vw;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.start {
    align-self: flex-end;
    margin-right: 32vw;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.item:hover {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(15, 15, 39);
    animation: pulseOut 1.5s ease;
}

@keyframes pulseOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.circle{
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    box-shadow: 0px 0px 5px gray; 
    background-color: white;

}
.circular{
    padding: 8px;
    border: 8px solid rgb(209, 209, 253);
    transform: rotate(45deg);
    border-radius: 50%;
    transition: transform 1s ease;
}

hr{
    width: 40px;
    background-color: rgb(55, 55, 255);
    color: transparent;
    height: 6px;
}
.end .circular{
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.start .circular{
    border-top-color: transparent;
    border-right-color: transparent;
}
/* .item:hover ~ .circular{
    border: 8px solid rgb(209, 209, 253);
    transform: rotate(-45deg);
    transition: transform 1s ease;
} */

