.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url('../../../assets/images/background-getstart.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    padding: 65px 62px 0px 62px;
    font-weight: bold;
    text-align: center;
    color: rgb(13, 13, 59);
}

img{
    /* margin: 0px 51px 45px 51px; */
    width: 90vw;
    margin: auto;
    padding-bottom: 30px;
}