<div class="main-container">
    <h3>Getting Started with DermCare.AI &#8594;</h3>
    <br>
    <div class="items-container">
        <div class="item">
            <div class="icon">
                <img src="../../assets/images/take-photo.svg" alt="take photo">
            </div>
            <div class="description">
                <h6>Take a photo*</h6>
                <p> Keep zoomed at the closest distance (less than 10 cm), keep in focus and center only the skin mark
                    (without hair, wrinkles and other objects)</p>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="../../assets/images/check&send-img.svg" alt="send photo">
            </div>
            <div class="description">
                <h6>Identify and send</h6>
                <p>Send your photo to the Artificial Intelligence. The system will analyze it and send you a risk assessment.</p>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="../../assets/images/get-img-result.svg" alt="get results">
            </div>
            <div class="description">
                <h6>Receive your risk assessment**</h6>
                <p>Get the result within 60 seconds and related advice on the next steps to take.</p>
            </div>
        </div>
    </div>
    <p>* You can take a photo on your mobile phone or upload a photo from your computer.<br>
    ** You can view results online or send it onto your email adress.</p>
</div>